# Application
APP_SECRET=

APP_WEB_URL=http://localhost:3000
APP_API_URL=http://localhost:3333

#Mail
MAIL_DRIVER=ethereal

# Storage
STORAGE_DRIVER=disk

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_URL=

# AES
AES_KEY=e41c966f21f9e1577802463f8924e6a3fe3e9751f201304213b2f845d8841d61
AES_IV=ff5ac19190424b1d88f9419ef949ae56
