<style>
  .container_email img {
    width: 350px;
    padding: 20px;
  }

  .container_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text_email {
    width: 600px;
    padding-top: 15px;
  }

  .text_email h1 {
    color: #5E9DBC;
  }

  .text_email h4 {
    color: #5E9DBC;
  }

  .text_email p {
    color: #555555;
  }

  .button_email button {
    margin-top: 20px;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #5E9DBC;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }

  .footer_email {
    margin-top: 70px;
    color: #555555;
  }

  .footer_email h4 {
    color: #5E9DBC;
  }
</style>

<div class="container_email">
  <div class="text_email">
    <h1>Olá, {{name}}!</h1>
    <p>
      Você recebeu um convite para entrar em nossa plataforma!
      <br />

      Suas credenciais de acesso estão logo abaixo:
      <br />

      <h4>
        E-mail: {{email}}
        <br />
        Senha: {{password}}
      </h4>
    </p>
    <p>
      Para confirmar seu convite, clique no link abaixo:
    </p>
  </div>
  <div class="button_email">
    <a href="{{link}}">
      <button type="submit">
        Confirmar convite
      </button>
    </a>
  </div>
  <div class="footer_email">
    <p>Obrigado!</p>
    <h4>Equipe OneCar</h4>
  </div>
</div>
